body {
  margin: 0;
  font-family: arial;
  background: #eee
}

#wrapper {
  width: 980 px;
  margin: 0 auto;
}

#main-nav {
  padding: 10 px;
  background: #181818;
}

#main-nav li {
  display: inline-block;
  margin-left: 20 px;
}
